 # <Font color='#965027'>Chapter 3: Built-in Data Structures, Functions, and Files<Font/>

 ## 3.1: Data Structures and Sequences

 ### Tuple

 #### Basics

In [1]:
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nest_tup = (4,5,6),(7,8)

In [4]:
nest_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4,0,2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1,2], True])

In [10]:
tup[1].append(3)

In [11]:
tup

('foo', [1, 2, 3], True)

 #### Unpacking Tuples

In [12]:
tup = 4,5,(6,7)

In [13]:
a,b,(c,d) = tup

In [14]:
d

7

In [15]:
a,b = 1,2

In [16]:
a,b

(1, 2)

In [17]:
b,a=a,b

In [18]:
a

2

In [19]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [21]:
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [22]:
values = 1,2,3,4,5

In [23]:
a,b,*rest = values

In [24]:
a,b

(1, 2)

In [25]:
rest

[3, 4, 5]

In [26]:
a,b,*_ = values

 #### Tuple methods

In [27]:
a = (1,2,2,2,3,4,2)

In [28]:
a.count(2)

4

 ### List

 #### Basics

In [29]:
a_list = [2,3,7,None]

In [30]:
tup = ('foo','bar','baz')

In [31]:
b_list = list(tup)

In [32]:
b_list

['foo', 'bar', 'baz']

In [33]:
b_list[1]

'bar'

In [34]:
b_list[1]='peekabo'

In [35]:
b_list

['foo', 'peekabo', 'baz']

In [36]:
gen = range(10)

In [37]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

 #### Adding and removing elements

In [38]:
b_list.append('dwarf')

In [39]:
b_list

['foo', 'peekabo', 'baz', 'dwarf']

In [40]:
b_list.insert(1,'red')

In [41]:
b_list

['foo', 'red', 'peekabo', 'baz', 'dwarf']

insert is computationaly expensive, if inserting at begining and end, explore collections.deque.